@model FinalResume.Models.skills

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>skills</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.skillName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.skillName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.experienceLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.experienceLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.yearsUsed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.yearsUsed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
